.clientForm {
	border: 2px solid;
	padding: 10px;
	display: inline-block;
}

.submitBtn {
	border: 2px solid green;
	margin: 5px;
	margin-top: 15px;
	font-size: 16px;
	font-weight: bold;
}

#cardType {
	border: 1px solid;
	padding: 1px;
	display: inline-block;
	font-weight: bold;
}

body {
	font-family: "Open sans", sans-serif;
}