.checkout {
	margin-left: 15%;
	margin-right: 15%;
}

.chckt-pm__name {
	color: #0083BF !important;
}

.clientForm {
	border: 2px solid;
	padding: 10px;
	display: inline-block;
}

.formHolder {
	display: inline-block;
}

.submitBtn {
	border: 3px solid green;
	margin: 5px;
	margin-top: 15px;
	font-size: 16px;
	font-weight: bold;
}

.cardType {
	border: 2px solid;
	padding: 1px;
	display: inline-block;
	font-weight: bold;
	font-family: serif;
	margin-bottom: 5px;
}

.block {
	display: block;
}

body {
	font-family: "Open sans", sans-serif;
}